# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage

# Node dependencies
node_modules

# Logs
logs
*.log
playwright-report

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
/test-results/
/blob-report/
