blockquote {
	@apply not-italic rounded-l-lg bg-pure-black;
	@apply p-1 -ml-4 -mr-8;
}

.ds-prose blockquote :where(a):not(:where([class~='not-prose'] *)) {
	@apply not-italic underline text-white;
}

blockquote p {
	@apply not-italic text-white;
}

blockquote.disclaimer {
	@apply border-l-4 border-l-red relative -inset-x-4;
}

blockquote.disclaimer > span {
	@apply text-red;
}

@media screen and (min-width: 768px) {
	blockquote {
		@apply rounded-lg;
	}
}
