body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  line-height: 1.6;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25em 0;
  margin: 0;
  font-weight: 600;
  line-height: 1;
}

h1 {
  letter-spacing: -0.3vw;
  font-size: calc(1rem + 8vw);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}
.content .keyword {
  font-weight: 500;
}
.content h1 {
  margin: 0.75em 0 0.25em 0;
}

.content h2,
.content h3 {
  line-height: 1.4;
  margin: 2em 0 0.5em 0;
}

.content p,
.content ul {
  line-height: 1.75;
  max-width: 560px;
}

.content-image {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc(100vw - 3rem);
  border: 2px solid var(--copy-color);
}

@media screen and (min-width: 768px) {
  .content-image {
    width: calc(100vw - 2rem);
    margin: 1.5rem -1.5rem;
  }
}

@media screen and (min-width: 920px) {
  .content-image {
    width: calc(920px - 2rem);
  }
}

.content p.big-paragraph {
  line-height: 1.2;
}

.content ul {
  color: var(--copy-color);
  padding-left: 0;
  margin-left: 1.5rem;
  list-style: disc;
}

ul li {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}
ul li div,
ul li a {
  text-decoration: none;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--copy-color);

  transition: all 0.3s;
  transform-origin: center;
}

ul li:hover::after {
  height: 100%;
  background-color: var(--primary-color);
  transform: translateY(calc(-50% + 0.25rem));
}

ul li:active::after {
  width: 1rem;
  background-color: var(--accent-color);
}

.emoji {
  display: inline-block;
  margin: 0 0.5rem;
  /* padding: 0.25rem; */
  /* background-color: #fff; */
  font-size: 2rem;
  white-space: nowrap;
}

a {
  color: inherit;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

p code {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  color: white;
  background-color: var(--black);
}

pre code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  /* color: var(--primary-color); */
  /* background-color: var(--third-background-color); */
  /* background-color: #f0f0f0; */
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

blockquote {
  margin: 1.5rem -1.5rem;
  padding: 1.5rem;
  background-color: var(--blackest-background);
  border-left: 3px solid var(--copy-color);
}
blockquote p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  blockquote {
    border-radius: 0.5rem;
  }
}

p em {
  font-style: normal;
  color: var(--primary-color);
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.button {
  appearance: none;
  color: var(--primary-color);
  /* background-color: transparent; */
  background-color: var(--third-background-color);
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button span,
.button svg {
  transform: translateX(0px);
  transition: transform 0.2s;
}

.button--small {
  font-size: 0.875rem;
}

.text-button {
  text-decoration: none;
  position: relative;
}

.text-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-color);
}

.color-change {
  animation: colorChange 20s linear alternate infinite;
}

@keyframes colorChange {
  0% {
    color: var(--primary-color);
  }
  33% {
    color: var(--accent-color);
  }
  66% {
    color: var(--link-color);
  }
  100% {
    color: var(--copy-color);
  }
}

.spacer {
  height: 4rem;
  width: 100%;
  margin: 4rem 0 1rem;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--outline-color);
}

.button:hover {
  background-color: var(--second-background-color);
  /* background-color: var(--primary-color);
  color: var(--background-color); */
}

.button:active {
  background-color: var(--third-background-color);
}

.button span {
  margin: 0 0.5rem;
  transform: translateX(0px);
  transition: transform 0.3s;
}
.button svg {
  width: 1rem;
  height: 1rem;
  transform: translateX(0px);
  transition: transform 0.3s;
}

.button--primary {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.button-row {
  display: flex;
}
.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.button-row > * {
  margin-right: 1rem;
}

.button--outline {
  border: 2px solid var(--primary-color);
}

/**
  * Tags
  **/
.tech-tags {
  display: flex;
  /* gap: 1rem; */
}

.tag {
  padding: 0.5rem 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  flex-grow: 0;
  align-items: center;
  transform: scale(1);
  user-select: none;
  /* background-color: var(--blackest-background); */
  background-color: var(--third-background-color);
  cursor: pointer;
  transition: all 0.3s;
}

.tag svg {
  width: 1.5rem;
  height: 1.5rem;
}

.tag img {
  /* height: 2rem; */
  width: 2rem;
}

.tag:hover {
  transform: translateY(-1px);
}
.tag:active {
  transform: translateY(1px);
}

.tag span {
  margin: 0 0.5rem;
}
.tag--git {
  color: #f05133;
}

.tag--coffee {
  /* color: white; */
  color: #ff7070;
}

.tag--js {
  color: #f7df1e;
  background-color: #000;
}

.tag--css {
  color: #1572b6;
}

.tag--svelte {
  color: #ff3e00;
  /* color: white; */
}

.tag--node {
  color: #339933;
  /* color: white; */
}

.tag--serverless {
  /* background-color: #000; */
  color: var(--primary-color);
}

.tag--vue {
  color: #00a591;
  /* color: white; */
}

.tag--graphql {
  /* background-color: #fff; */
  color: #e10098;
}

.tag--mongo {
  color: #47a248;
  /* color: #fff; */
}
.tag--phaser {
  color: #99388c;
  /* color: #fff; */
}
.tag--figma {
  color: #1abcfe;
  /* background-color: black; */
}

.tag--websockets {
  color: #8731d2;
  /* color: #fff; */
}

.tag--tailwind {
  color: #38b2ac;
}
.tag--godot {
  color: #478cbf;
}

.tag--aseprite {
  color: #7d929e;
}

.tag--netlify {
  color: #00c7b7;
}

.tag--spotify {
  color: #1ed760;
}

.tag--vscode {
  color: #007acc;
}

.tag--vim {
  color: #019733;
}

.tag--pug {
  color: #a86454;
}

.tag--greensock {
  color: #88ce02;
}
.tag--terminal {
  color: var(--copy-color);
}
/*
*/
