body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  line-height: 1.6;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25em 0;
  margin: 0;
  font-weight: 600;
  line-height: 1;
}

h1 {
  letter-spacing: -0.3vw;
  font-size: calc(1rem + 8vw);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}
.content .keyword {
  font-weight: 500;
}
.content h1 {
  margin: 0.75em 0 0.25em 0;
}

.content h2 {
  margin: 2em 0 0.25em 0;
}

.content p,
.content ul {
  max-width: 560px;
}
.content ul {
  color: var(--copy-color);
  padding-left: 0;
  margin-left: 1.5rem;
  list-style: disc;
}

ul li {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}
::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

ul li::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.25rem);
  top: 50%;
  left: -1.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--copy-color);

  transition: all 0.3s;
  transform-origin: center;
}

ul li:hover::after {
  height: 100%;
  background-color: var(--primary-color);
  transform: translateY(calc(-50% + 0.25rem));
}

ul li:active::after {
  width: 1rem;
  background-color: var(--accent-color);
}

.emoji {
  display: inline-block;
  margin: 0 0.5rem;
  /* padding: 0.25rem; */
  /* background-color: #fff; */
  font-size: 2rem;
  white-space: nowrap;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.button {
  appearance: none;
  color: var(--primary-color);
  /* background-color: transparent; */
  background-color: var(--third-background-color);
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button span,
.button svg {
  transform: translateX(0px);
  transition: transform 0.2s;
}

.button--small {
  font-size: 0.875rem;
}

.text-button {
  text-decoration: none;
  position: relative;
}

.text-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-color);
}

.color-change {
  animation: colorChange 20s linear alternate infinite;
}

@keyframes colorChange {
  0% {
    color: var(--primary-color);
  }
  33% {
    color: var(--accent-color);
  }
  66% {
    color: var(--link-color);
  }
  100% {
    color: var(--copy-color);
  }
}

.spacer {
  height: 4rem;
  width: 100%;
  margin: 4rem 0 1rem;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--outline-color);
}

.button:hover {
  background-color: var(--second-background-color);
  /* background-color: var(--primary-color);
  color: var(--background-color); */
}

.button:active {
  background-color: var(--third-background-color);
}

.button span {
  margin: 0 0.5rem;
  transform: translateX(0px);
  transition: transform 0.3s;
}
.button svg {
  width: 1rem;
  height: 1rem;
  transform: translateX(0px);
  transition: transform 0.3s;
}

.button--primary {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.button-row {
  display: flex;
}
.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.button-row > * {
  margin-right: 1rem;
}

.button--outline {
  border: 2px solid var(--primary-color);
}

/**
  * Tags
  **/
.tag {
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
  user-select: none;
  background-color: var(--third-background-color);
  cursor: pointer;
}

.tag:hover {
  transform: scale(1.05);
}
.tag:active {
  transform: scale(0.95);
}

.tag span {
  margin: 0 0.5rem;
}

.tag--git {
  /* color: #413000; */
  color: #f05133;
}
.tag--coffee {
  color: white;
  background-color: #6f0b0b;
}
.tag--js {
  color: #f7df1e;
  background-color: #000;
}
.tag--svelte {
  background-color: #ff3e00;
  color: white;
}

.tag--node {
  background-color: #026e00;
  color: white;
}

.tag--serverless {
  background-color: #000;
  color: white;
}

.tag--vue {
  background-color: #00a591;
  color: white;
}

.tag--graphql {
  background-color: #fff;
  color: #e10098;
}

.tag--mongo {
  background-color: #13aa52;
  color: #fff;
}
